@tailwind base;
@tailwind components;
@tailwind utilities;

/* Div */
@layer components {
  .container {
    @apply max-w-[1080px]
  }
}

@layer components {
  .row {
    @apply -mx-5
  }
}

@layer components {
  .flex-between {
    @apply flex justify-between items-center
  }
}

@layer components {
  .flex-center {
    @apply flex items-center
  }
}

/* Fonts */
@layer components {
  .style-italic {
    @apply text-[24px] leading-[29px] italic font-bold
  }
}

@layer components {
  .style-italic-xs {
    @apply text-[28px] leading-normal italic font-bold
  }
}

@layer components {
  .text-13-xs {
    @apply text-[13px] leading-[150%] font-bold text-[#EF2B23] tracking-[0.13px]
  }
}

@layer components {
  .text-14 {
    @apply text-[14px] leading-[21px] font-normal text-[#455464] tracking-[0.02em]
  }
}

@layer components {
  .text-14-xs {
    @apply text-[14px] leading-[150%] font-light text-[#455464] tracking-[0.56px]
  }
}

@layer components {
  .text-16 {
    @apply text-[16px] leading-[24px] font-bold text-[#1C1C1C]
  }
}

@layer components {
  .text-16-xs {
    @apply text-[16px] leading-normal font-semibold text-white tracking-[0.25px]
  }
}


@layer components {
  .text-18 {
    @apply text-[18px] leading-[25px] font-normal tracking-[0.04em] text-[#455464]
  }
}

@layer components {
  .text-18-xs {
    @apply text-[18px] leading-normal font-normal text-[#1C1C1C]
  }
}

@layer components {
  .text-20 {
    @apply text-[20px] leading-[35px] font-normal tracking-[0.04em] text-[#455464]
  }
}

@layer components {
  .text-20-xs {
    @apply text-[20px] leading-[150%] font-bold tracking-[0.2px] text-[#EF2B23]
  }
}

@layer components {
  .text-24 {
    @apply text-[24px] leading-[27px] font-light tracking-[0.04em] text-[#455464]
  }
}

@layer components {
  .text-24-xs {
    @apply text-[24px] leading-[150%] font-bold tracking-[0.48px] text-[#1C1C1C]
  }
}

@layer components {
  .text-32-xs {
    @apply text-[32px] leading-[150%] font-bold text-[#1C1C1C]
  }
}

@layer components {
  .text-36 {
    @apply text-[36px] leading-[54px] font-bold tracking-[0.02em] text-[#1C1C1C]
  }
}

@layer components {
  .text-36-xs {
    @apply text-[36px] leading-[130%] font-semibold text-[#1C1C1C]
  }
}


@layer components {
  .text-40 {
    @apply text-[36px] leading-[56px] font-bold tracking-[0.02em] text-[#1C1C1C]
  }
}

@layer components {
  .text-40-xs {
    @apply text-[40px] leading-[130%] font-semibold text-[#1C1C1C]
  }
}

@layer components {
  .text-64 {
    @apply text-[60px] leading-[90px] font-semibold text-[#1C1C1C]
  }
}

@layer components {
  .text-96 {
    @apply text-[86px] leading-[85px] font-medium text-[#1C1C1C]
  }
}

@layer components {
  .btn-16 {
    @apply text-[16px] leading-[24px] font-normal tracking-[0.01em] text-white py-4 px-8 bg-[#F44949] rounded-[40px]
  }
}

@layer components {
  .btn-16-xs {
    @apply text-[16px] leading-normal font-normal tracking-[0.25px] text-white py-4 px-8 bg-[#F44949] rounded-[40px] drop-shadow-[0px_3px_10px_0px_rgba(241_79_73_0.20)]
  }
}



@layer components {
  .btn-14-xs {
    @apply text-[14px] leading-[150%] font-bold drop-shadow-[0px_3px_10px_0px_rgba(241_79_73_0.20)] text-white py-4 px-8 bg-[#F44949] rounded-[40px]
  }
}

@layer components {
  .btn-full {
    @apply text-[16px] w-full gap-3 leading-normal font-semibold text-white py-4 flex items-center justify-center bg-[#F44949] rounded-[40px]
  }
}

@layer components {
  .bg-set {
    @apply bg-cover bg-no-repeat bg-center
  }
}

@layer components {
  .mt-10px {
    @apply mt-[10px]
  }
}

@layer components {
  .mr-10px {
    @apply mr-[10px]
  }
}

@layer components {
  .mb-10px {
    @apply mb-[10px]
  }
}

@layer components {
  .ml-10px {
    @apply ml-[10px]
  }
}

button.group {
  display: none !important;
}

.wrapper .outer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .card{
  background: #fff;
  width: 430px;
  display: flex;
  align-items: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  justify-content: space-between;
  border-radius: 100px 20px 20px 100px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  animation: animate 15s linear infinite;
  animation-delay: calc(3s * var(--delay));
}
.outer:hover .card{
  animation-play-state: paused;
}
.wrapper .card:last-child{
  animation-delay: calc(-3s * var(--delay));
}
@keyframes animate {
  0%{
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%, 20%{
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%, 40%{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%, 60%{
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%, 100%{
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
.card .content{
  display: flex;
  align-items: center;
}
.wrapper .card .img{
  height: 90px;
  width: 90px;
  position: absolute;
  left: -5px;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.card .img img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card .details{
  margin-left: 80px;
}
.details span{
  font-weight: 600;
  font-size: 18px;
}
.card a{
  text-decoration: none;
  padding: 7px 18px;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
  transition: all 0.3s ease;
}
.card a:hover{
  transform: scale(0.94);
}